body {
    background-color: rgb(13, 110, 13);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
}
.tapete {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 230, 186);
    width: 150px;
    height: 150px;
    border-style: none;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 5px #000000;
    font-size: 80px;
    padding: 0px;
    margin-top: 40px;
}
.izq, .centro, .der {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdc4b7;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.7);
    margin: 20px 0;
}
#historico, #historico2, #historico3 {
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}